body {
  background-color: var(--gray-900);
}

header {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

header span {
  font-size: 5rem;
  color: var(--gray-100);
}

main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 5rem;
  background-color: var(--gray-800);
  padding: 3rem 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 0 4px var(--gray-100);
}

.container {
  width: 550px;
}

.hidden{
  display: none !important;
}

main h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: var(--gray-100);
}

main .form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.form input {
  flex: 1;
  padding: 1.4rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-100);
}

.form input::placeholder {
  color: var(--gray-300)
}

.form button {
  background-color: var(--green-500);
  padding: 1.4rem;
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  font-weight: 700;
  color: var(--gray-100);
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: var(--green-300);
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}

.userProfile .errorSearch {
  color: var(--red-500);
  text-transform: uppercase;
}

.userProfile figure {
  width: 18rem;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-300);
}

.userProfile figure img {
  width: 100%;
  border-radius: 50%;
}

.userProfile .profileInformarion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: var(--gray-100);
  text-align: center;
}

.profileInformarion .name {
  font-weight: 700;
  font-size: 2.4rem;
}

.userProfile .networking {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repositories, .events {
  color: var(--gray-100);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.listEvents .event {
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;  
  border-radius: 10px;
  border: 1px solid var(--gray-100);
  overflow: hidden;
}

th, td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--gray-100);
}

thead tr {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

thead th {
  background-color: var(--green-500);
}

tbody tr:last-child{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

tbody tr:last-child td {
  border-bottom: 0px solid var(--gray-100);
}

tbody tr:nth-child(odd) {
  background-color: var(--gray-900);
}

tbody tr:nth-child(even) {
  background-color: var(--gray-500);
}

tbody tr:hover {
  transition: background-color 0.5s, color 0.5s;
  background-color: var(--gray-100);
  color: var(--gray-900);
}