body {
  background-color: var(--gray-900);
}

header {
  width: 100%;
  text-align: center;
  margin: 2rem 0 4rem;
}
header span {
  font-size: 5rem;
  color: var(--gray-100);
}

main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--gray-800);
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 0 4px var(--gray-100);
}

.container {
  width: 550px;
}

main {
  padding-top: 3rem;
}

main h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: var(--gray-100);
}

main form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

form input {
  flex: 1;
  padding: 1.4rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-100);
}

form input::placeholder {
  color: var(--gray-300)
}

form button {
  background-color: var(--green-500);
  padding: 1.4rem;
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  font-weight: 700;
  color: var(--gray-100);
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: var(--green-300);
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}

.userProfile figure {
  background-color: var(--green-300);
  padding: 1rem;
  width: 22rem;
  border-radius: 50%;
}

.userProfile figure img {
  width: 100%;
  border-radius: 50%;
}

.userProfile .profileInformarion {
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-100);
}

.profileInformarion .name {
  font-weight: 700;
  font-size: 2.4rem;
}

.repositories {
  color: var(--gray-100);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}

.repositories .list{
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.list .repositor{
  border: 1px solid var(--green-500);
  padding: 1.4rem;
  border-radius: 8px;
  cursor: pointer;
}

.repositor a{
  font-weight: 700;
  color: var(--green-500);
}

.repositories .repositor:hover{
  background-color: var(--green-500);
  color: var(--gray-100);
  transition: background-color 0.5s;
}

.repositor:hover a{
  color: var(--gray-100);
  transition: color 0.5s;
}